<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="template/admin/css/style.css" />
<script type="text/javascript" src="template/admin/js/jquery.js"></script>
<script type="text/javascript" src="template/admin/js/main.js"></script>
</head>

<body>
<div class="dqnav">
<ul>
	<li>当前位置：</li>
	<li><a href="?m=index&a=main">后台首页</a></li>
	<li><span>&gt;</span></li>
    <li><a href="?m=Acquisi&a=index">节点管理</a></li>
	<li><span>&gt;</span></li>
    <li><a href="?m=Acquisi&a=manage&id=<{$caijiId}>">采集【<{$caijiName}>】管理</a></li>
	<li><span>&gt;</span></li>
    <li>采集【<{$caijiName}>】测试</li>
</ul>
</div>
<div class="mainBox">
    <div class="mainForm" id="mainForm">
    	<table cellpadding="0" border="0" cellspacing="0">
        	<{foreach from=$list item=v }>
            <tr>
            	<td align="right" width="12%"><{$v.name}>：</td>
            	<td width="88%"><{if is_array($v.value)}>
                <{foreach from=$v.value item=i}>
                <a href="<{$i}>" target="_blank"><{$i}></a><br />
                <{/foreach}>
                <{else}>
                <{$v.value}>
                <{/if}></td>
            </tr>
            <{/foreach}>
            <tr>
            	<td></td>
                <td><input type="button" class="inputSub1" onclick="window.location.href='?m=Acquisi&a=manage&id=<{$caijiId}>'" value='点击返回' /></td>
            </tr>
       </table>
    </div>
</div>
</body>
</html>