<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="template/admin/css/style.css" />
<script type="text/javascript" src="template/admin/js/jquery.js"></script>
<script type="text/javascript" src="template/admin/js/main.js"></script>
</head>

<body>
<div class="dqnav">
<ul>
	<li>当前位置：</li>
	<li><a href="?m=index&a=main">后台首页</a></li>
	<li><span>&gt;</span></li>
	<li><a href="?m=Tags&a=index">Tags管理</a></li>
	<li><span>&gt;</span></li>
	<li>绑定栏目</li>
</ul>
</div>
<div class="mainBox">
    <div class="mainForm" id="mainForm">
        <form action="?&m=Tags&a=bindclass" method="post" name="form1" onsubmit="return checkZt();">
    	<table cellpadding="0" border="0" cellspacing="0">
            <tr>
            	<td align="right" width="12%">选择栏目：</td>
            	<td width="88%"><select name="classid">
                <option value="0">取消绑定</option>
                <{foreach from=$classData item=i}>
                <{if $i.classtype==0}>
                <option value=<{$i.classid}><{if $bind == $i.classid}> selected<{/if}>><{$i.html}><{$i.classname}></option>
                <{/if}>
                <{/foreach}>
                </select></td>
            </tr>
            <tr>
            	<td></td>
                <td><input type="hidden" value="<{$id}>" name='id' /><input type="hidden" name="backurl" value="<{$backurl}>" /><input type="submit" value="提交" name="bindSub" class="inputSub" id="bindclass" /></td>
            </tr>
       </table>
        </form>
    </div>
</div>
</body>
</html>