

<div class="footer_1">
<div class="footer">
	<div class="footer01">
     <{menu classid=122 child=1}> 
    	<span><a href="/index.php?m=list&a=index&classid=142">关于我们</a></span>
        <{foreach from=$menu_data item=v}>
       <a href="<{$v.classurl}>"><{$v.classname}></a>
        <{/foreach}>
    </div>
	<div class="footer01">
       <{menu classid=123 num=5 child=1}> 
    	<span><a href="/index.php?m=list&a=index&classid=166">解决方案</a></span>
         <{foreach from=$menu_data item=v}>
           <a href="<{$v.classurl}>"><{$v.classname}></a>
         <{/foreach}>
    </div>
    
	<div class="footer01">
      <{menu classid=124  num=6  child=1}> 
    	<span><a href="/index.php?m=list&a=index&classid=155">工程业绩</a></span>
          <{foreach from=$menu_data item=v}>
       <a href="<{$v.classurl}>"><{$v.classname}></a>
      <{/foreach}>
    </div>
    
    <div class="footer01">
     <{menu classid=148   child=1}> 
    	<span><a href="/index.php?m=list&a=index&classid=146">新闻中心</a></span>
            <{foreach from=$menu_data item=v}>
             <a href="<{$v.classurl}>"><{$v.classname}></a>
            <{/foreach}>
    </div>
    
    <div class="footer01">
     <{menu classid=159   child=1}> 
    	<span><a href="/index.php?m=list&a=index&classid=160">招聘信息</a></span>
          <{foreach from=$menu_data item=v}>
    <a href="<{$v.classurl}>"><{$v.classname}></a>
            <{/foreach}>
    </div>
    
    <div class="footer02">
    	 <span>联系我们</span>
    
        <{single classid=165}>
        	<{$single_data.content}>
 
    </div>
    
    <div class="clear"></div>
</div>
</div>

<div class="footer_3">
<div class="apply">

	<div class="img_l"><img src="<{$weburl}>template/delong/images/left.jpg" /></div>
	
	<div class="apply_nav">
      <{link num=10}>
		<div class="apply_w">
      
 
<{foreach from=$link_data item=v}>


			<div class="apply_array">
					<div class="apply_img"><a href="<{$v.url}>"><img src="<{$v.img}>" /><{$v.name}></a></div>
			</div>
	 
<{/foreach}>
 


            <div class="clear"></div>
		</div>
	</div>
	
	<div class="img_r"><img src="<{$weburl}>template/delong/images/right.jpg" /></div>
	
</div>
</div>
<div class="footer_2">
<div class="footer03" style="height:110px;">
	 <table border="0" width="1100"  align="center" >
	 <tr>
		<td width="1000">
		<span>© 2015 北京德隆伟烨科技发展有限公司</span><span>版权所有</span><span>京ICP备15001670号</span><span>京公网安备11010802015957</span>
		
		</td>
		<td width="100"><img src="/dlwywx.jpg" width="90" height="90" > </td>
	 </tr>
	 </table>
	
	 
	 
></div>
</div>

<script type="text/javascript">
var _mvq = _mvq || [];
_mvq.push(['$setAccount', 'm-231633-0']);

_mvq.push(['$logConversion']);
(function() {
var mvl = document.createElement('script');
mvl.type = 'text/javascript'; mvl.async = true;
mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(mvl, s);
})();

</script>  
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?ff4f0dcbd12ccfda7efce832f581a3dc";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
