<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="<{$weburl}>template/delong/css/style.css">
	<!--<link rel="stylesheet" href="./css/owl.carousel.css">-->
	<!--<link rel="stylesheet" href="./css/dl_style.css">-->
	<!--<script src="./js/owl.carousel.min.js"></script>-->
</head>
<body>
<{include file='header.html'}>

<div class="container">
<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
	</ol>
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<{article classid=55 num=5}>
		<{php}> $i=1; <{/php}>
		<{foreach from=$article_data item=v name=lunbo_s}>
			<div class="item <{php}> if ($i==1) {echo 'active';} <{/php}>">
				<img class="img-responsive" src="<{$v.lbpic}>">
			</div>
		<{php}> $i++; <{/php}>
		<{/foreach}>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

		<div class="row custom-news-bg">
			<div class="col-xs-5 col-md-2 col-lg-2 col-lg-offset-1" style="padding-top: 7px;">
				公司新闻 &nbsp;
				<p class="glyphicon glyphicon-menu-right"></p>
			</div>
			<div id="scroll_div" class="col-xs-4 col-md-10 col-lg-7" style="padding-top: 7px;">
				<{article classid=146 num=12 }>
				<div id="scroll_begin">
					<{foreach from=$article_data item=v name=product_s}>
					<a style="color: white" href="<{$v.url}>"><{$v.title|lmxstr:70:'...'}> </a><span>[<{$v.time|date_format:'%Y/%m/%d'}>]</span>
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<{/foreach}>
				</div>
				<div id="scroll_end"></div>
			</div>
		</div>

	<div style="height: 20px;"></div>
		<div class="row bg-info" style="padding-top: 25px;padding-bottom: 25px;">
			<div class="col-xs-7 col-md-2">
				<img class="img-responsive" src="<{$weburl}>template/delong/images/about.jpg">
			</div>
			<div class="col-md-8">
				<{single classid=142}>
					<p>
						<{php}>
							$a = $this->_tpl_vars['single_data']['content'];
							echo mb_substr($a, 0, 500, 'utf-8') . '...';
						<{/php}>
					</p>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-info" style="margin: 20px;"><a href="<{$single_data.classurl}>">查看更多</a></button>
			</div>
		</div>

<div style="height: 20px;"></div>
	<div class="row" style="background-color: #F2F2F2;">
		<div class="col-xs-4 col-md-12" style="padding-top: 10px;padding-left: 10px;padding-bottom: 10px;"><font style="font-size: 18px;">产品中心</font></div>
		<!--<div class="col-xs-8 col-md-10" style="background-color: #F2F2F2;padding: 10px;"><font style="font-size: 18px;float: right; color: #ccc">更多 》》</font></div>-->
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=219">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/s_cp01.jpg" style="margin-top: 20px;" title="公共广播">
				<p></p>
				<p class="text-center"><strong>公共广播</strong></p>
			</a>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=218">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/s_cp02.jpg" style="margin-top: 20px;"/>
				<p></p>
				<p class="text-center"><strong>视频会议</strong></p>
			</a>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=217">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/s_cp03.jpg" style="margin-top: 20px;"/>
				<p></p>
				<p class="text-center"><strong>综合布线</strong></p>
			</a>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=220">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/s_cp04.jpg" style="margin-top: 20px;"/>
				<p></p>
				<p class="text-center"><strong>机房建设</strong></p>
			</a>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=221">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/s_cp05.jpg" style="margin-top: 20px;"/>
				<p></p>
				<p class="text-center"><strong>机房电话</strong></p>
			</a>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=222">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/s_cp06.jpg" style="margin-top: 20px;"/>
				<p></p>
				<p class="text-center"><strong>安防监控</strong></p>
			</a>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=223">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/s_cp07.jpg" style="margin-top: 20px;"/>
				<p></p>
				<p class="text-center"><strong>门禁考勤</strong></p>
			</a>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=227">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/s_cp08.jpg" style="margin-top: 20px;"/>
				<p></p>
				<p class="text-center"><strong>收款系统</strong></p>
			</a>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=229">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/s_cp09.jpg" style="margin-top: 20px;"/>
				<p></p>
				<p class="text-center"><strong>智能家居</strong></p>
			</a>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=224">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/xg02.jpg" style="margin-top: 20px;"/>
				<p></p>
				<p class="text-center"><strong>网络安全</strong></p>
			</a>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=228">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/xg01.jpg" style="margin-top: 20px;"/>
				<p></p>
				<p class="text-center"><strong>公共广播</strong></p>
			</a>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2">
			<a href="/index.php?m=list&a=index&classid=226">
				<img class="img-responsive center-block" src="<{$weburl}>template/delong/images/xg04.jpg" style="margin-top: 20px;"/>
				<p></p>
				<p class="text-center"><strong>停车管理</strong></p>
			</a>
		</div>
	</div>
</div>

<{include file='footer.html'}>
</body>
<script>
    $(document).ready(function(){
        $('#myCarousel').carousel({interval:3000});
    });

    function ScrollImgLeft(){
        var speed=50;
        var MyMar = null;
        var scroll_begin = document.getElementById("scroll_begin");
        var scroll_end = document.getElementById("scroll_end");
        var scroll_div = document.getElementById("scroll_div");
        scroll_end.innerHTML=scroll_begin.innerHTML;
        function Marquee(){
            if(scroll_end.offsetWidth-scroll_div.scrollLeft<=0)
                scroll_div.scrollLeft-=scroll_begin.offsetWidth;
            else
                scroll_div.scrollLeft++;
        }
        MyMar=setInterval(Marquee,speed);
        scroll_div.onmouseover = function(){
            clearInterval(MyMar);
        };
        scroll_div.onmouseout = function(){
            MyMar = setInterval(Marquee,speed);
        }
    }
    ScrollImgLeft();
</script>
</html>