<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$title}>_<{$webname}></title>

<meta name="keywords" content="<{$keywords}>" />
<meta name="description" content="<{$description}>"/>


<!--<link href="<{$weburl}>template/delong/css/dl_style.css" type="text/css" rel="stylesheet">-->
<script type="text/javascript" src="<{$weburl}>template/delong/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="<{$weburl}>template/delong/js/js.js"></script>
<script type="text/javascript">
$(function(){

	$li1 = $(".apply_nav .apply_array");
	$window1 = $(".apply .apply_w");
	$left1 = $(".apply .img_l");
	$right1 = $(".apply .img_r");
	
	$window1.css("width", $li1.length*166);

	var lc1 = 0;
	var rc1 = $li1.length-5;
	
	$left1.click(function(){
		if (lc1 < 1) {
			alert("已经是第一张图片");
			return;
		}
		lc1--;
		rc1++;
		$window1.animate({left:'+=166px'}, 1000);
	});

	$right1.click(function(){
		if (rc1 < 1){
			alert("已经是最后一张图片");
			return;
		}
		lc1++;
		rc1--;
		$window1.animate({left:'-=166px'}, 1000);
	});

})
</script>


</head>


<body>

 
<{include file='header.html'}>

<div class="middle_1"><img src="<{$weburl}>template/delong/images/about01.jpg" /></div>
<div class="middle_2">
  
<{include file='gcyj_left.html'}>
    <div class="mid_2ri">
    	<div class="mid_ri01"><{$navpos}></div>
       <div class="yj_1">
          <{foreach from=$list item=v}>
        	<a href="<{$v.url}>">
            	<img src="<{$v.tupianlb}>" />
                <span><{$v.title|lmxstr:20:'...'}></span>
                <font><{$v.description|lmxstr:60:'...'}></font>
            </a>
           <{/foreach}>
            <div class="clear"></div>
        </div>
        
         <div class="fy">
          <{$page}>
         </div>
        
    </div>
    <div class="clear"></div>
</div>
      
<{include file='footer.html'}>
</body>
</html>